:root {
    font-size: 12px;
}

/* Media query for HD ready resolution (720p) */
@media screen and (min-width: 1280px) and (max-width: 1366px) {
    :root {
        font-size: 13px;
    }
}

/* Media query for Full HD resolution (1080p) */
@media screen and (min-width: 1920px) {
    :root {
        font-size: 16px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout-container {
    max-height: 100vh; /* Make layout container take up the entire viewport height */
    overflow: hidden; /* Prevent layout container from being scrollable */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Layout children vertically */
    font-size: 1rem;
    font-family: 'Poppins',sans-serif;
}


